* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Header Encabezado - Menú */

nav {
    background-color: #0072b7;
    text-align: center;
    padding: 10px 40px 10px 70px;
    border: 1.5px solid #382ee4;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 8px #000;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

nav ul {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav li {
    padding: 0 15px;
    display: inline-block;
}

nav li.logo {
    color: whitesmoke;
    font-size: 30px;
}

nav div.menu a {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 0;
    font-size: 16px;
}

 nav ul div.menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #002b87;
    transition: 0.3s ease-out;
}

nav ul div.menu a:hover::after {
    left: 0;
    width: 100%;
}

nav ul div.menu a:hover {
    color: #002b87;
}

/* Caja de Busqueda */

nav ul li.buscar {
    display: flex;
    height: 30px;
    width: 240px;
    background: white;
    border-radius: 8px;
}

nav ul li.buscar input {
    height: 100%;
    width: 250px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 0 10px;
    font-size: 17px;
    color: #000;
}

nav .bars {
    position: relative;
    margin: auto;
    display: none;
}

nav .bars span {
    position: absolute;
    color: white;
    font-size: 30px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

/* Resposive Screen */



/* Secciones */


/* Footer */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    height: fit-content;
    color: white;
    background: linear-gradient(to right, #0072b7, #382ee4);
    border-top-left-radius: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;

}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #002b87;
}

.copyright {
    font-size: 13px;
    opacity: 0.7;
    font-weight: 400;
    padding: 8px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-columns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-container p {
    margin: 0.2rem 0;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

footer p:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer-container h4 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 30px;
    background-image: url(imagenes-tb/fb.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

footer .social-link:nth-of-type(2) {
    background-image: url(imagenes-tb/twitter.png);
}

footer .social-link:nth-of-type(3) {
    background-image: url(imagenes-tb/whatsapp.png);
}

.footer-columns img {
    width: 250px;
    height: 110px;
    margin-bottom: 40px;
}

.footer-columns h4 {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;    
    border-bottom: 3px solid #002b87;
    padding-bottom: 10px;
}

.footer-columns h4:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Footer Responsive */

@media (max-width: 760px) {
    
    .footer-container {
        padding: 2rem;
        flex-direction: column;
    }

    .footer-columns {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items: center;
    }

    .footer-columns:nth-of-type(1) {
        align-items: flex-start;
    }
    
    .footer-columns:nth-of-type(3) {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid black;
    }

    .footer-menus .footer-columns:nth-of-type(1) {
        width: 30%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menus .footer-columns:nth-of-type(2) {
        width: 30%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menus .footer-columns:nth-of-type(3) {
        width: 30%;
        align-items: flex-start;
        border-bottom: none;
    }
}